<div class="container　header">
 <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-info">
    <div class="col-md-3 mb-2 mb-md-0">
      <p class="h1 header text-light inline">TokaiOnAir Search</p>
    </div>
  </header>
</div>
