<div class="video-card div-link shadow">
  <p class="h3 title"><%= video.title %></p>
  <%= link_to "", "https://www.youtube.com/watch?v=%s" % video.id, class: "link", target: :_blank %>

  <% description = video.description.gsub("\n", "") %>
  <p class="description">
    <%= description[..300] %> ...
  </p>
  
</div>
